.App {
  height: 100vh;
  font-family: 'Mukta Vaani', sans-serif;
  background-color: linen
}

.navbar {
  background-color: navy;
  color: ivory;
  font-size: 3em;
  text-align: center;
  padding: .2em 0em;
}

.first-name {
  font-size: 2em;
  border-bottom: 1px solid navy;
  padding: .4em .7em;
  margin: auto;
  text-align: center;
}

.balance-container, .buy {
  margin: auto;
  text-align: center;
}

.login-page {
  padding-top: 20vh;
}

.login-box {
  color: navy;
  text-align: center;
  font-size: 2em;
  width: 30%;
  min-width: 200px;
  margin: auto;
  padding: 1em;
  border-radius: .3em;
  background-color: lightblue;
}

.login-form {
  font-size: .6em;
  text-align: center;
}

.login-label {
  padding: 1.5em;
  display: block;
}

.login-input {
  margin-top: 1em;
  padding: .6em;
  width: 100%;
}

.price-container {
  padding: 0% 20%;
  background-color: silver;
  display: flex;
  justify-content: space-between;
  margin: auto;
  border-bottom: 1px solid black;
}

.price-entry {
  text-align: center;
  margin: .4em .2em;
  padding: .7em;
  border: 1px solid navy;
  border-radius: 3em;
  background-color: whitesmoke;
}

.balance-container {
  /*max-width: 300px;*/
  margin-top: 1em;
  font-size: 1.3em;
}

.balance-entry {
  display: flex;
  border-left: .5em solid teal;
  /*margin: 1em 1em;*/
  margin: 1em auto;
  background-color: gainsboro;
  max-width: 500px;
}

.balance-entry > div {
  margin: auto;
}

.which-coin {
  width: 10%;
}

.quantity, .usd-value {
  width: 20%;
}

.buy {
  border-width: 1px 0px;
  border-style: solid;
  border-color: navy;
  text-align: center;
}

.buy-form * {
  font-size: 1.2em;
  margin: .7em;
}